@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
body, html {
    height: 100%;
}

.bg {
    background-image: url("https://s3.amazonaws.com/lwang-website/background.png");

    height: 100%;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Roboto Condensed', sans-serif;

}

h1 {
    color: rgb(255, 99, 71);
    margin-left: 20px;
}

div.title {

    /*margin: auto;*/
    max-width: 400px;
    position: relative;

    top: 10%;
    left: 5%;

}

div.title p{
    white-space: wrap;

    left: width/2;
}

div.content {

    position: absolute;
    margin: auto;
    max-width: 400px;
    top: 200px;
}

a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: red;
}

a:active {
    background-color: dodgerblue;
}
