body {

    /*background: red; /* For browsers that do not support gradients */
    background: radial-gradient(closest-corner at 70% 50%, rgb(102, 255, 240), red);
    background-repeat: no-repeat;
}

h1 {
    color: rgb(255, 99, 71);
    margin-left: 20px;
}

a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: red;
}

a:active {
    background-color: white;
}
P